$brand-primary:         #173e43 !default;
$brand-success:         #3fb0ac !default;
$brand-info:            #3498DB !default;
$brand-warning:         #fae596 !default;
$brand-danger:          #E74C3C !default;

$navbar-default-bg: $brand-success;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-color: $brand-warning;

@import "../bower_components/bootswatch-scss/flatly/variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import "../bower_components/bootswatch-scss/flatly/bootswatch";

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
