<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h1>Przepisy</h1>
      </div>
      <div class="row">
        <form class="form-inline" id="recipes-buttons">
          <input type="text" class="form-control search-input" placeholder="Szukaj..." data-ng-model="recipesVm.search.$">
          <button class="btn btn-default btn-info" type="submit" data-ui-sref="recipesAdd"><i class="fa fa-plus"></i> Dodaj nowy</button>
          <button class="btn btn-default btn-info" type="submit"><i class="fa fa-pencil"></i> Zarządzaj kategoriami</button>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-12" id="recipes-list">
          <div class="row" data-ng-repeat="recipe in recipesVm.recipes | filter: recipesVm.search">
            {{::recipe.name}}
            <span class="label label-default" data-ng-repeat="cat in recipe.categories">{{::cat}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
